body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
}

header {
  display: flex;
  justify-content: space-between; 
  background-color: #184563;
  padding: 0;
  align-items: center;
}

  /* Estilos para el título del encabezado */
  header h1 {
    margin: 0;
    padding: 0;
  }
  
  header h1 img{
    height: 100px;
    width: 100px;
  }
  
  /* Estilos para la navegación en el encabezado */
  header nav {
    float: right;
    font-size: 20px;
    z-index: 1;
    display: flex;
    align-items: center;
  }
  
  /* Estilos para la lista no ordenada dentro de la navegación */
  header nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    
  }
  
  /* Estilos para los elementos de la lista dentro de la navegación */
  header nav ul li {
    display: inline-block;
    padding: 10px;
    position: relative;
  }
  
  /* Estilos para los enlaces dentro de la lista de navegación */
  header nav ul li a {
    color: white;
    text-decoration: none;
  }

  /* Estilos para los enlaces al pasar el cursor sobre ellos */
  .menu:hover {
    color: black;
    background-color: #5B7384;
  }
  
  #karratua {
    width: 150px;
    height: 35px;
    background-color: #22638f; /* Color inicial */
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(122, 64, 64); /* Color del texto */
    transition: background-color 0.3s; /* Transición suave */
    border: 2px solid rgb(0, 0, 0);
    margin-right: 30px;
    align-items: center;
  }
  
  #karratua:hover {
    background-color: darkblue; /* Cambiar a rojo cuando el ratón pase por encima */

  }

  header ul {
    display: flex;
  }
  /* Estilos para los submenús desplegables */
  header nav ul li ul {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #6f8ca0;
    border: 1px solid #1A5276;
    padding: 10px;
    
  }
  
  /* Estilos para mostrar los submenús al pasar el cursor sobre los elementos de la lista */
  header nav ul li:hover ul {
    display: block;
  }

  
  /* Estilos para la sección de texto */
  .texto {
    position: absolute;
    top: 48.4%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    background-color: rgba(255,255,255,0,7);
    color: #184563;
    padding: 200px;
    font-size: 22px;
    font-family: Copperplate;
  }

  .texto p{
    color: black;
    margin-top: -6px;
  }
  
  
  /* Estilos para el pie de página */
  footer {
    background-color: #000000;
    color: #ffffff;
    padding: 20px;
    text-align: center;
    margin-top: -4px;
  }

.kontaktatu{
  display: flex;
  text-align: left;
  
}
.kontaktatu img{
  height: 200px;
  width: 200px;
}
.kontaktatu div img{
  height: 17px;
  width: 17px;
}
.espaciofoot{
  margin-left: 10%;
}

  .linea-vertical{
  width: 7px;
  height: 90px; /* Ajusta la altura de la línea según tu diseño */
  background-color: #184563; /* Color de la línea */
  position: absolute;
  top: 49%;
  left: 36%;
  transform: translate(-50%,-50%);
}

.slideshow-container {
  margin: auto;
}
img{
  width: 100%;
  height: 900px;
  opacity:70%;
}

.mySlides {
  display: none;
}

@keyframes fade {
  from {
      opacity: 0.4;
  }
  to {
      opacity: 1;
  }
}
@media (max-width: 768px) {

  header h1 .kontaktatu img {
    height: 6px;
    width: 6px;
  }
  header nav ul {
    flex-direction: column;
    align-items: center;
  }
  header nav ul li {
    padding: 5px;
  }
 

 
  .kontaktatu {
    flex-direction: column;
    align-items: center;
  }
  .espaciofoot {
    margin-left: 0;
    margin-bottom: 20px;
  }

  img{
    width: 100%;
    height: 400px;
    opacity:70%;
  }
  .kontaktatu img{
    height: 120px;
    width: 120px;
    opacity: 70%;
  }
  .linea-vertical{
    width: 7px;
    height: 150px; /* Ajusta la altura de la línea según tu diseño */
    top: 49%;
    left: 25%;
    
  }
  .texto {
    font-size: 17px;
    padding: 20px;
  }
  header nav {
    font-size: 16px;
  }
  footer {
    background-color: #000000;
    color: #ffffff;
    padding: 20px;
    text-align: center;
  
  }

.kontaktatu{
  display: flex;
  text-align: left;
  
}
.kontaktatu div img{
  height: 15px;
  width: 15px;
}
footer h2{
  font-size: 16px;
}

footer p{
  font-size: 12px;
}
}

.ikono img{
  width: 55px;
  height: 55px;
}

.ikono{
  margin-left: 14px;
  margin-right: 40px; 
}
