body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
}

.atzekoa{
  font-size: 50px;
  text-align: center;
  font-family: Copperplate;
  letter-spacing: -1px;
  background-image: url('../Irudiak/atzekoahistoria.jpg'); /* Ruta de la imagen de fondo */
  background-size: cover; /* Ajustar el tamaño de la imagen para cubrir todo el fondo */
  background-position: center; /* Alinear la imagen al centro */
  background-color:  rgba(0, 0, 0, 10);
  padding: 10%;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between; 
  background-color: #184563;
  padding: 0;
}

/* Estilos para el título del encabezado */
header h1 {
  margin: 0;
  padding: 0;
}

header h1 img{
  height: 100px;
  width: 100px;
}

/* Estilos para la navegación en el encabezado */
header nav {
  float: right;
  font-size: 20px;
  z-index: 1;
}

/* Estilos para la lista no ordenada dentro de la navegación */
header nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* Estilos para los elementos de la lista dentro de la navegación */
header nav ul li {
  display: inline-block;
  padding: 10px;
  position: relative;
}

/* Estilos para los enlaces dentro de la lista de navegación */
header nav ul li a {
  color: white;
  text-decoration: none;
}

/* Estilos para los enlaces al pasar el cursor sobre ellos */
header nav ul li a:hover {
  color: black;
  padding: 5px;
  background-color: #5B7384;
}

/* Estilos para los submenús desplegables */
header nav ul li ul {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #6F8CA0;
  border: 1px solid #1A5276;
  padding: 10px;
}

/* Estilos para mostrar los submenús al pasar el cursor sobre los elementos de la lista */
header nav ul li:hover ul {
  display: block;
}


.main{
  background-color: #578caf;
  color: rgb(255, 255, 255);
  }
/* Estilos para la sección de imágenes */
.irudiak {
  display: flex;
  flex-wrap: wrap;
  background-color: black;
}

/* Estilos para las imágenes dentro de la sección de imágenes */
.irudiak img {
  width: 50%;
  opacity: 25%;
}

/* Estilos para la sección de texto */
.texto {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
  background-color: rgba(255,255,255,0,7);
  color: white;
  padding: 200px;
  max-width: 80%;
}

/* Estilos para el pie de página */
footer {
  background-color: #000;
  color: #fff;
  margin-top: auto;
  padding: 20px;
  text-align: center;
}
.kontaktatu{
  display: flex;
  text-align: left;
  
}
.kontaktatu img{
  height: 200px;
  width: 200px;
}
.kontaktatu div img{
  height: 17px;
  width: 17px;
}
.espaciofoot{
  margin-left: 10%;
}


.texto-izquierda, .imagenes-derecha {
  margin: 0 auto;
  max-width: 800px; /* Ancho máximo para centrar los elementos */
}

.texto-izquierda h3 {
  text-align: left; /* Alinea el título 'Sorkuntza' al centro */
  font-size: 20px;
  font-family: "Verdana";
}
.texto-izquierda p {
  font-size: 20px;
 font-family: "Verdana";
}
.imagenes-derecha img {
  display: block;
  margin: 0 auto; /* Centra horizontalmente la imagen */
  max-width: 100%; /* Ajusta el ancho máximo de la imagen */
}

/* Estilos para la sección de historia */
.historia {
padding: 40px;
text-align: left;
align-items: center;
}

.texto-izquierda {
  max-width: 60%; /* Ajusta según tus preferencias */
}

/* Estilos para las imágenes dentro del contenedor de imágenes */
.imagenes-derecha img {
width: 80%;
margin-bottom: 60px; /* Ajusta según tus preferencias */
}



.main{
background-color: #22597e;
color: white;

}
.linea-horizontal {
width: 200px; /* Anchura de la línea */
height: 8px; /* Altura de la línea */
background-color: rgb(255, 255, 255); /* Color de la línea */
margin: 0 auto;
margin-top: -30px;
}

.bodytituloa{
  background-color: #22597e;
}

.titulohistoria{
  font-size: 50px;
  text-align: center;
  font-family: Copperplate;
  letter-spacing: -1px;
  color: white;
}

@media (max-width: 768px) {

  
  header h1 .kontaktatu img {
    height: 6px;
    width: 6px;
  }
  header nav ul {
    flex-direction: column;
    align-items: center;
  }
  header nav ul li {
    padding: 5px;
  }
  .imagenes-derecha img {
    width: 100%; /* Ajusta el ancho máximo de la imagen */
    height: 70%;
  }
  .texto-izquierda{
    max-width: 100%;
  }
  .texto-izquierda, .imagenes-derecha img {
    margin-bottom: 30px;
  }
  .kontaktatu {
    flex-direction: column;
    align-items: center;
  }
  .espaciofoot {
    margin-left: 0;
    margin-bottom: 20px;
  }
}



